@font-face {
    font-family: 'Ambit-Regular';
    src: url(Ambit-Regular.ttf);
}
@font-face {
    font-family: 'engraved';
    src: url(engraved.otf);
}
@font-face {
    font-family: 'SilvexEditorial-Regular-BF66f36842cab8b';
    src: url(SilvexEditorial-Regular-BF66f36842cab8b.otf);
}
.dashboard li{
    list-style: none;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.dashboard ul{
    margin-top: 28px;
    gap: 30px;
    display: flex;
}
.dashboard{
    position: fixed;
    background-color: rgb(166, 199, 231);
    width: 100%;
    height: 2cm;
    top: 0;
    left: 0;
    & a{
        text-align: center;
    }
}
body{
    background-color: rgb(243, 241, 180);
}
.dashboard a{
    text-decoration: none;
    color: black;
    &:hover{
        background-color: rgb(110, 136, 221);
        color: rgb(255, 255, 255);
        border-radius: 10px;
        padding: 5px;
    }
}
.desc{
    margin-top: 80px;
    text-align: center;
    font-family: 'Ambit-Regular';
    font-size: 2svw;
    padding: 20px;
    & h1{
        font-family: 'engraved';
        font-size: 6svw;
        margin-bottom: -5px;
    }
}